section
{
    background-image: url(../../assets/images/moodboard.webp.jpg);
    background-position: center center;
    background-size: cover;
}

h1 
{
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}