<div class="container py-5">
    <div class="row">
        <div *ngFor="let tv of fullTrendingTvShows" class="col-md-3 text-center py-5">
               
                <a [routerLink]="['/tvdetails', tv.id]">
                    <div class="tv">
                        <img class="w-100" [src]="mainPoster+tv.poster_path" [alt]="tv.name">
                    <h3 class="my-3 h6">{{tv.name}}</h3>
        
                    <div class="vote">
                        {{tv.vote_average}}
                    </div>
                    </div>
                </a>
               
        </div>
    </div>
</div>